{% extends 'tutor/tutor_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<body  style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url({% static 'images/quest.jpg' %}); ">
<div class="container  d-flex justify-content-center shadow-lg p-3 mb-5 bg-white"  style="margin-top: 100px; border-radius: 10px;">
    <h2>ADD A COURSE</h2>
</div>
<div class="mt-5">
    <div class="container d-flex justify-content-center shadow-lg p-3 mb-5 bg-white" style="margin-top: 50px; border-radius: 10px;">
        <div class="col-sm-6  mt-4">
            <form action="{% url 'tutor:newcourse' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                {{form.coursename|as_crispy_field}} 
                {{form.coursedescription|as_crispy_field}} 
                <button type="submit" class="btn btn-success mb-4 mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock content %}